<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b5b53e44-f1db-4e7d-928c-47d708ec8695" name="cabinet installation TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b5b53e44-f1db-4e7d-928c-47d708ec8695fileName">cabinet-installation-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
