<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="52a0e4f3-d30c-4770-b770-2cc93c6c15de" name="bulk actions TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="52a0e4f3-d30c-4770-b770-2cc93c6c15defileName">bulk-actions-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
