<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c26591b1-588f-408a-a6cb-68dd100c74f5" name="events and phases TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c26591b1-588f-408a-a6cb-68dd100c74f5fileName">events-and-phases-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
