<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="9606f939-8eae-4709-8097-9b9a9b8ad89c" name="slot installation TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="9606f939-8eae-4709-8097-9b9a9b8ad89cfileName">slot-installation-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
