<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="8a279485-c3bb-4d5b-9d51-04abd59b6710" name="mass install devices TestCase" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="8a279485-c3bb-4d5b-9d51-04abd59b6710fileName">mass-install-devices-TestCase</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>PARALLELL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:tagId>dfecbbec-65a8-4629-a882-76bb13fdb139</con:tagId>
</con:testSuite>
