<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="432c0daa-b053-4058-b86a-f802a83e90d4" name="cabinet TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="432c0daa-b053-4058-b86a-f802a83e90d4fileName">cabinet-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
