<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="56fd8cd0-c5f7-41c3-ba6d-64e9a6fe2899" name="device TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="56fd8cd0-c5f7-41c3-ba6d-64e9a6fe2899fileName">device-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
