<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6ed43a8e-a7ca-420c-be0c-01dc4017b98b" name="cloning and migrations TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6ed43a8e-a7ca-420c-be0c-01dc4017b98bfileName">cloning-and-migrations-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
