<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="0197a279-61e6-46ce-8a1f-2d080b7781c9" name="connection TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="0197a279-61e6-46ce-8a1f-2d080b7781c9fileName">connection-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
