<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a2de7ad9-1894-4b84-ad6f-5b506315bf1a" name="mass produce cabinets TestCase" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a2de7ad9-1894-4b84-ad6f-5b506315bf1afileName">mass-produce-cabinets-TestCase</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>PARALLELL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:tagId>dfecbbec-65a8-4629-a882-76bb13fdb139</con:tagId>
</con:testSuite>
